<!-- your html code here -->
<div class="container-xxl services">
    <div class="card mb-3" style="border: 0px; margin: 10px;"">
        <div class="row g-0">
            <div class="col-md-4" style="display: flex; justify-content: flex-end;">
                <img src="./assets/img/2.jpg" class="services-img" alt="Una persona tecleando">
            </div>
            <div class="col-md-8 h2-services-html">
                <div class="card-body services-body">
                    <h2 class="card-title"><strong>The Second Headin </strong><strong class="h2-services-html-grey">Is
                            Pretty Cool Too</strong></h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nunc nisi, gravida
                        ac libero sit amet, malesuada interdum tellus. Nullam dui metus, porta vitae nibh nec, rutrum
                        consequat libero. Vestibulum in auctor risus. Aenean malesuada faucibus interdum. Vivamus vitae
                        metus id elit tincidunt gravida in vitae nibh.</p>
                </div>
            </div>
        </div>
    </div>
</div>